* {
    box-sizing: border-box;
    padding: 0;
    margin: 1%;
}




.header {
    background: #055575;
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 40px 40px 0px 0px;

    
}

.avail {
    font-size: 12px;
    padding: 0 20px;
    padding-right: 30px;
}

.avail::after {
    content: "";
    display: inline-block;
    background: rgb(4, 180, 4);
    width: 10px;
    height: 10px;
    margin: 0 3px;
    vertical-align: middle;
    border-radius: 50%;
}

.body {
    background: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    
}

input {
    height: 50px;
    width: 100%;
}

input[type="text"] {
    padding: 0 10px;
}

input[type="submit"] {
    height: 25px;
    border: 0;
    background: #000000;
    font-weight: 500;
    font-size: 17px;
    color: aliceblue;
    cursor: pointer;
}

.visible {
    display: block;
}

.none {
    display: none;
}

.me {
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 55%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: #c9eb9d;
    border-radius: 10px;
    float: right;
    text-align: right;
    display: block;
}

.alicia {
    color: rgb(0, 0, 0);
    /*font-family: cursive;*/
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: #91e2ff;
    border-radius: 10px;
    float: left;
    text-align: left;
    display: block;
}

.imgRedonda {
    width: 40px;
    height: 40px;
    border-radius: 150px;
}

.creador {
    background-color: crimson;
    color: aliceblue;
    font-size: 16px;
    height: 20px;
    width: 80px
}

/*font

#443247
#624963
#0d3650
*/